<header>
  <div class="container-fluid">
    <div class="align-items-center">
      <div class="profile-info">
        <h1>Clínica Piedrazul</h1>
        <h3>Salud Integral y Bienestar</h3>
        <p>Comprometidos con tu salud, brindando atención médica de alta calidad con un equipo de profesionales altamente calificados para tu cuidado y bienestar.</p>

        <!-- Enlaces a redes sociales de la clínica -->
        <div class="social-icons">
          <a href="#" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a>
          <a href="#" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
          <a href="#" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>
          <a href="#" target="_blank" title="WhatsApp"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>
    </div>
  </div>
</header>
